.contaiter {
  margin: 100px;
  padding: 30px;
  border-radius: 20px;
  color: white;
  background: #1E1E1E; /*#1E1E1E*/
  height: 400px;
  display: flex;
  position: block;
}

.class-form {
  padding-right: 100px;
}


.class-giturl {
  overflow-y:scroll;
  height: 350px;
  margin: 10px;
  width: 800px;
  margin-bottom: 10px;
}
.div-user {
  padding-bottom: 5px;
}

.button {
  margin-top: 8px;
  padding: 3px;
  width: 180px;
  border-radius: 5px;
  color: white;
  background-color: #1E1E1E;
}

.button:hover {
  background-color: white;
  color: #1E1E1E;
}

a {
  color: white;
  text-decoration: none;
}
